.bem-vindo {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 3rem auto 14.5rem auto;
    gap: 1rem;
}

.bem-vindo__titulo {
    margin: 0 auto .5rem auto;
    width: 90%;
}

.bem-vindo__logo {
    width: 100%;
    max-height: 3rem;
}

.bem-vindo__subtitulo {
    color: var(--branco);
    font-weight: 500;
    font-size: 1.75rem;
    line-height: 3rem;
}

.bem-vindo__texto {
    color: var(--branco);
}

.bem-vindo__botoes {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: .5rem auto 0 auto;
    align-items: center;
}

.bem-vindo__botoes .formulario__botao {
    min-width: 191px;
}

.bem-vindo__ilustracao {
    position: absolute;
    left: 0;
    bottom: -20px;
    background-image: url(../img/ilustracao.svg);
    background-repeat: no-repeat;
    background-position: center bottom;
    width: 100%;
    height: 100%;
    z-index: -1;
}

@media screen and (min-width: 768px) {
    .bem-vindo {
        width: 50%;
        gap: 1.5rem;
        margin-top: 4rem;
        margin-bottom: 14rem;
    }

    .bem-vindo__logo {
        max-height: 4rem;
    }

    .bem-vindo__texto {
        font-size: 1.125rem;
        line-height: 1.625rem;
    }
}