.cabecalho {
    position: relative;
    padding: 2.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cabecalho__lista {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.cabecalho__link {
    text-decoration: none;
}

.cabecalho__perfil {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%
}

.cabecalho__fundo {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100vh;
    background-image: url(../img/forma-1.svg);
    background-repeat: no-repeat;
}

.cabecalho__patas {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    background-image: url(../img/patas.svg);
    background-repeat: no-repeat;
    background-position: calc(100vw - 130px) -10px;
    z-index: -1;
}