.cabecalho {
    position: relative;
    padding: 2.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cabecalho::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: url(../img/forma-1.svg) no-repeat;
    background-position: 0 0;
    background-size: 100%;
    width: 100%;
    max-width: 22.5rem;
    height: 18.5rem;
    z-index: -1;
}

.cabecalho__lista {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.cabecalho-lista__item--logo {
    display: none;
}

.cabecalho__link {
    text-decoration: none;
}

.cabecalho-lista__icon {
    fill: var(--branco);
}

.cabecalho-lista__icon:hover {
    fill: var(--coral);
}

.cabecalho-lista__link:focus .cabecalho-lista__icon {
    outline: none;
    fill: var(--coral);
}

.cabecalho__perfil {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%
}

.cabecalho__patas {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    background-image: url(../img/patas.svg);
    background-repeat: no-repeat;
    background-position: calc(100vw - 130px) -10px;
    z-index: -1;
}

@media screen and (min-width: 768px) {
    .cabecalho::before {
        max-width: 28rem;
        height: 24rem;
    }

    .cabecalho__lista {
        gap: 3rem;
    }

    .cabecalho-lista__item--logo {
        display: block;
    }

    .cabecalho-lista__img {
        max-height: 1.875rem;
        pointer-events: none;
    }
}