.cadastro {
    display: flex;
    flex-direction: column;
    width: 85%;
    margin: 3rem auto 3rem auto;;
    gap: 1.5rem;
}

.cadastro__titulo {
    margin: 0 auto;
    width: 100%;
}

.cadastro__logo {
    max-height: 2.125rem;
}

.cadastro__subtitulo {
    color: var(--azul);
    margin-bottom: -1rem;
}

.cadastro__texto {
    color: var(--azul);
}

@media screen and (min-width: 768px) {
    .cadastro {
        width: 65%;
        margin-top: 4rem;
    }

    .cadastro__logo {
        max-height: 4rem;
    }
}