.conteudo {
    position: relative;
    margin-top: 4rem;
    min-height: 100vh;
}

.cadastro {
    display: flex;
    flex-direction: column;
    width: 85%;
    margin: 0 auto;
    gap: 1.5rem;
}

.cadastro__titulo {
    margin: 0 auto;
    width: 90%;
}

.cadastro__logo {

    max-height: 2.125rem;
}

.cadastro__subtitulo {
    color: var(--azul);
    margin-bottom: -1rem;
}

.cadastro__texto {
    color: var(--azul);
}

.cadastro__formulario {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

.cadastro__botao {
    outline: none;
    border: none;
    background-color: var(--coral);
    color: var(--branco);
    font-weight: 600;
    font-size: 1rem;
    padding: .75rem 0;
    border-radius: .5rem;
}

.cadastro__botao:hover {
    background-color: var(--coral-hover);
}