.cadastro {
    display: flex;
    flex-direction: column;
    width: 85%;
    margin: 0 auto;
    gap: 1.5rem;
}

.cadastro__titulo {
    margin: 0 auto;
    width: 90%;
}

.cadastro__logo {
    max-height: 2.125rem;
}

.cadastro__subtitulo {
    color: var(--azul);
    margin-bottom: -1rem;
}

.cadastro__texto {
    color: var(--azul);
}