@import url(./form/fieldset.css);
@import url(./form/label.css);
@import url(./form/input.css);
@import url(./form/textarea.css);
@import url(./form/button.css);
@import url(./form/password.css);

.formulario {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    margin: 0 auto;
    width: 100%;
    max-width: 22rem;
}

.formulario--cinza {
    background-color: var(--cinza-claro);
    padding: 1.25rem 1rem;
    border-radius: .5rem;

}

.formulario__titulo {
    font-weight: 600;
    font-size: 1.3125rem;
}

.formulario__span {
    color: var(--coral);
    font-size: .75rem;
    margin-top: -.5rem;
}

.formulario__span:focus {
    outline: none;
    font-weight: 600;
}

.formulario__img {
    align-self: center;
    width: 5rem;
    border-radius: 50%;
    cursor: pointer;
}

.formulario__file {
    display: none;
}

@media screen and (min-width: 768px) {
    .formulario--cinza {
        max-width: 32rem;
    }
}