.perfil {
    margin: 3rem auto 3rem auto;
    padding: 0 1.5rem;
}

.perfil__titulo {
    color: var(--azul);
    margin: 0 auto 1rem auto;
    width: 65%;
}

@media screen and (min-width: 768px) {
    .perfil {
        margin-top: 4rem;
    }
}