.rodape {
 background-color: var(--verde);
 padding: 2.5rem 0;
}

.rodape__texto {
    color: var(--branco);
}

.rodape__link {
    color: var(--branco);
    text-decoration: none;
}

.rodape__link:hover {
    color: var(--coral);
    text-decoration: underline;
}