@import url(./cabecalho.css);
@import url(./rodape.css);
@import url(./formulario.css);

@import url(./bem-vindo.css);
@import url(./cadastro.css);
@import url(./login.css);
@import url(./pets.css);
@import url(./mensagem.css);
@import url(./perfil.css);

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

:root {
    --azul: #3772FF;
    --verde: #36D6AD;
    --coral: #FC7071;
    --coral-active: #fb9193;
    --coral-hover: #FF9D9E;
    --branco: #FFFFFF;
    --creme: #FCF0E3;
    --cinza: #BCBCBC;
    --cinza-escuro: #737380;
    --cinza-icon: #999999;
    --cinza-claro: #F6F6F6;
    --font-text: 'Poppins', sans-serif;
}

body {
    color: var(--cinza-escuro);
    font-family: var(--font-text);
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.index {
    background-color: var(--azul);
}

.conteudo {
    position: relative;
    flex-grow: 1;
}

.conteudo__forma {
    position: absolute;
    right: 0;
    width: 100%;
    height: 100%;
    background-image: url(../img/forma-2.svg);
    background-repeat: no-repeat;
    background-position: calc(100vw - 60px) 0;
    z-index: -1;
}