@import url(./cabecalho.css);
@import url(./rodape.css);

@import url(./bem-vindo.css);
@import url(./cadastro.css);

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

:root {
    --azul: #3772FF;
    --verde: #36D6AD;
    --coral: #FC7071;
    --coral-hover: #FF9D9E;
    --branco: #FFFFFF;
    --creme: #FCF0E3;
    --cinza: #BCBCBC;
    --cinza-escuro: #737380;
    --cinza-claro: #F6F6F6;
    --font-text: 'Poppins', sans-serif;
}

body {
    font-family: var(--font-text);
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.index {
    background-color: var(--azul);
}