.formulario__label {

}

.formulario__label--azul {
    color: var(--azul);
    font-weight: 600;
    text-align: left;
    width: 100%;
    margin-bottom: .5rem;
}

.formulario__label--foto {
    display: flex;
    flex-direction: column;
}