.formulario__password {
    position: relative;
    width: 100%;
}

.formulario__icon {
    position: absolute;
    top: .475rem;
    right: .5rem;
    width: 32px;
    height: 32px;
    background-image: url(../../img/hidden.svg);
    background-position: center;
    background-repeat: no-repeat;
    z-index: 20;
    cursor: pointer;
}