.formulario__label--pass {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.formulario__input--container {
    display: flex;
    align-items: center;
    width: 100%;
    gap: .5rem;
}

.formulario__input--container-focus {
    border: 1px solid var(--azul) !important;
}

.formulario__input--pass {
    font-family: var(--font-text);
    color: var(--cinza-escuro);
    padding-left: calc(.5rem + 18px);
    text-align: center;
    background: transparent;
    border: none;
    outline: none;
    width: 100%;
}

.formulario__svg {
    width: 100%;
    height: 100%;
    stroke: var(--cinza-icon);
    fill: none;
}

.formulario__icon {
    width: 18px;
    height: 18px;
    cursor: pointer;
}

.formulario__input--pass::placeholder {
    font-family: var(--font-text);
    color: var(--cinza);
}

.formulario__field--invalido .formulario__input--pass::placeholder {
    color: var(--vermelho);
    opacity: 0.5;
}

.formulario__field--invalido .formulario__svg {
    stroke: var(--vermelho);
    opacity: 0.7;
}